$animation: all 0.2s ease-in-out;
$dirty: #fefefe;
$green: #4A7C59;
$blue: #77B5D9;
$brown: #5E4B32;
$red: #E94E3C;
$orange: #f3740d;
$dark: #332d2d;
$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$shadow2: rgba(0, 0, 0, 0.16) 0px 1px 4px;
@mixin center($h, $v) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate($h, $v);
}
@mixin sameSize($s) {
    width: $s;
    height: $s;
}
html, body {
    font-family: "Mulish", system-ui;;
    width: 100vw;
    background-color: #eaeaea;
}
* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}
.content-bx{
    margin: 0 auto;
    max-width: 1250px;
}
.row:before,
.row:after {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}
.col-md-1,.col-md-15,.col-md-2, .col-md-25, .col-md-3,.col-md-35,.col-md-4,.col-md-425,.col-md-45,.col-md-5,.col-md-6,.col-md-7,.col-md-75,.col-md-8,.col-md-85,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
	float: left;
}
.col-md-1 { width: 8.333333%; }
.col-md-15 { width: 12.4999995%; }
.col-md-2 { width: 16.666667%; }
.col-md-25 { width: 20%; }
.col-md-3 { width: 25%; }
.col-md-35 { width: 29.1666665%; }
.col-md-4 { width: 33.333333%; }
.col-md-425 { width: 35.41666625%; }
.col-md-45 { width: 37.499999965%; }
.col-md-5 { width: 41.666667%; }
.col-md-6 { width: 50% !important; }
.col-md-7 { width: 58.333333%; }
.col-md-75 { width: 62.49999985%; }
.col-md-8 { width: 66.666667%; }
.col-md-85 { width: 70.8333335%; }
.col-md-9 { width: 75%; }
.col-md-10 { width: 83.333333%; }
.col-md-11 { width: 91.666667%; }
.col-md-12 { width: 100%; }
.hidden {display:none;}
a {
    text-decoration: none !important;
    color: #000;
}
.focus-b {
    border: none !important;
    background-color: $orange;
    color: #fff;
}
.options-card.active {
    border: none !important;
    color: #fff;
    background-color: $orange;
    transition: $animation;

}
.overflow-h {
    overflow: hidden;
}
.container-bx {
    margin: 0 auto;
    width: 1250px !important;
}
.tuv-card {
    font-weight: 600;
    background-color: #28a745;
    box-shadow: $shadow2;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    width: 150px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;

}
.text-right {
    text-align: right;
}
.header-section {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    background: linear-gradient(30deg, rgba(51, 45, 45, 1), rgba(243, 116, 13, 1));
    .content-bx {
        .header {
                height: 70px;
                max-width: 1250px;
                .col-md-6 {
                    height: 70px;
                    line-height: 70px;
                }
                .logo {
                    height: 40px;
                    width: 363px;
                }
                a {
                    line-height: 105px;
                    display: block;
                    height: 100%;
                    text-decoration: none;
                    .cart-icon {
                        top: -19px;
                        border-radius: 12px;
                        text-align: center;
                        @include sameSize(40px);
                        background: $dark;
                        color: #fff;
                        border: none;
                        cursor: pointer;
                        transition: $animation;
                        .cart-item-count {
                            font-size: 12px;
                            padding: 1px;
                            position: absolute;
                            line-height: 20px;
                            right: -5px;
                            top: -5px;
                            background-color: $orange;
                            border-radius: 50%;
                            @include sameSize(20px);
                            box-shadow: $shadow2;
                            &:empty {
                                display: none;
                            }
                        }
                        i {
                            font-size: 32px;
                            line-height: 20px;
                            padding: 5px;
                            vertical-align: middle;
                        }
                    }
        
                }
            }
    }
}
.footer {
    background-color: #fff;
    margin: 0;
    .content-bx {
        .footer-container {
            height: auto;
            .col-md-4 {
                .footer-card {
                    padding: 25px;
                    h2 {
                        font-size: 20px;
                        margin-bottom: 15px;
                    }
                    &.menu {
                        a {
                            font-size: 14px;
                            cursor: pointer;
                            padding: 10px;
                            display: block;
                            text-decoration: none;
                            transition: $animation;
                            display: block;
                            &:hover {
                                background-color: $orange;
                                color: $dirty;
                            }
                        }
                    }
                    &.socials {
                        a {
                            display: block;
                            margin-bottom: 10px;
                            &:last-child {margin-bottom:0}
                            span {
                                margin-left: 10px;
                                vertical-align: middle;
                            }
                            i {
                                vertical-align: middle;
                                @include sameSize(28px);
                                background-color: $orange;
                                line-height: 28px;
                                color: #fff;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
.footer-bottom {
    .col-md-6 {
        font-size: 14px;
        padding: 10px;
    }
}
.app {
    overflow-x: hidden;
    .payment-success, .payment-fail  {
        .content-bx {
            .container {
                margin: 100px auto 0 auto;
                background-color: #fff;
                border-radius: 12px;
                width: 100%;
                text-align: center;
                padding: 20px;
                h2 {
                    margin: 30px 0;
                }
                .las {
                    font-size: 72px;
                }
                .las.la-times {
                    color: $red;
                }
                .las.la-check {
                    color: $green;
                }
            }
        }
    }
    [data-page="cart"] {
        margin-top: 70px;
        .content-bx {
            .inputs {
                text-align: center;
                padding: 20px;
                margin: 20px 10px;
                background-color: #fff;
                height: auto;
                border-radius: 12px;
                h2 {
                    text-align: left !important;
                    font-size: 20px;
                    font-weight: 500;
                    margin: 0 40px 20px 0;
                    height: auto;
                }
                input:not([type="checkbox"]) {
                    margin: 10px;
                    padding: 15px 20px;
                    width: 350px;
                    border-radius: 12px;
                    border: 0.5px solid #555;
                    font-size: 16px;
                }
                input:focus {
                    border-color: $orange;
                    outline: none;
                }
                label:not(.checkbox) {
                    background-color: #fff;
                    font-size: 12px;
                    font-weight: 800;
                    margin: 10px;
                    position: absolute;
                    top: -9px;
                    left: 20px;
                    z-index: 1;
                    padding: 0 10px;
                    span {
                        color: $red;
                    }
                }
                label.checkbox {
                    * {
                        vertical-align: middle;
                    }
                    span { margin-left: 5px;}
                }
                .shipping-informations {
                    margin: 30px 0 20px 0;
                    text-align: left;

                }
                .shipping-method {
                    margin-bottom: 40px;
                    .delivery-container {
                        .extra-info {
                            font-size: 12px;
                            text-align: left;
                            margin: 20px 0 0 0;
                        }
                    }
                }
                .options-card {
                    margin: 0 auto;
                    cursor: pointer;
                    width: 90%;
                    padding: 20px;
                    font-size: 14px;
                    border: 1px solid #555;
                    border-radius: 12px;
                    h2 {
                        margin: 0 0 10px 0;
                        text-align: center !important;
                        font-size: 15px;
                        font-weight: 400;
                    }
                    span, p {
                        margin-top: 10px;
                    }
                    i {
                        display: block;
                        font-size: 30px;
                        margin: 5px 0;
                    }
                    * {
                        user-select: none;
                        -moz-user-select: none;
                        -webkit-user-select: none;
                    }
                }
            }
            .inner-cart.col-md-4 {
                .cart-content {
                    margin: 20px 0px;
                    background-color: #fff;
                    padding: 20px;
                    border-radius: 12px;
                    h2 {
                        font-size: 24px;
                        margin: 0;
                        margin-bottom: 20px;
                    }
                    .item-card {
                        margin-bottom: 10px;
                        background-color: #fff;
                        text-align: right !important;
                        padding: 10px;
                        border-bottom: 0.5px solid #848484;
                        height: auto;
                        &:last-child{
                            border: none;
                        }
                        .col-md-4 {
                            height: 120px;
                            img {
                                height: 120px;
                                width: 119px;
                                object-fit: cover;
                            }
                        }
                        .item-data {
                            .single-price {
                                font-size: 14inpipx;
                                margin: 5px 0;
                                color: #555;
                            }
                            a {
                                text-align: left;
                                font-size: 14px;
                                width: 100%;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                height: 3em; 
                                line-height: 1.5em;
                                text-decoration: default;
                                color: $orange;
                            }
                            .delete {
                                line-height: 32px !important;
                                font-size: 30px;
                                color: $red;
                                padding: 5px 10px;
                                background: none;
                                border: none;
                                cursor: pointer;
                                margin: 10px 0 0 0;
                                border-radius: 8px;
                                transition: $animation;
                            }
                            .delete:hover {
                                background-color: $red;
                                color: #fff;
                            }
                            .price {
                                font-size: 20px;
                                font-weight: 800;
                            }
                        }
                    }
                    .all-price {
                        text-align: right;
                        span {
                            color: $orange;
                        }
                    }
                    input[name="cupon"] {
                        height: 30px;
                        margin: 10px 0;
                        padding: 0 10px;
                        width: 270px;
                        border-radius: 4px;
                        border: 1px solid $orange;
                    }
                    .submit-cupon {
                        width: 100px;
                        height: 30px;
                        border: none;
                        border-radius: 4px;
                        background-color: $orange;
                        color: #fff;
                        cursor: pointer;
                    }
                    .other-info {
                        margin: 20px 0;
                        textarea {
                            padding: 10px;
                            font-size: 14px;
                            width: 100%;
                            height: 100px;
                            resize: none;
                            border-radius: 4px;
                            border: 1px solid $orange;
                        }
                        label {
                            position: absolute;
                            top: -15px;
                            left: 20px;
                            z-index: 2;
                            background-color: #fff;
                            padding: 5px;
                        }
                    }
                    .contract-request {
                        vertical-align: middle;
                        font-size: 12px;
                        input {
                            cursor: pointer;
                            margin-right: 10px;
                        }
                        label {
                            a {
                                color: $orange;
                            }
                        }
                    }
                    .take-order {
                        margin-top: 20px;
                        width: 100%;
                        height: 50px;
                        background-color: $orange;
                        color: #fff;
                        border: none;
                        border-radius: 12px;
                        font-size: 16px;
                        font-weight: 600;
                        cursor: pointer;
                        transition: all .2s linear;
                    }
                }
            }
        }
    }
    [data-page="main"] {
        .hero {
            background-color: $dark;
            background: linear-gradient(30deg, rgba(51, 45, 45, 1), rgba(243, 116, 13, 1));
            width: 100vw;
            padding: 100px 0 50px 0;
            height: 400px;
            .owl-carousel {
                width: 100vw !important;
                margin: 0 !important;
                .owl-stage-outer {
                    transition: height 0s;
                }
                img {
                    object-fit: contain !important;
                    object-position: center center;
                    height: 250px !important;
                }
                .hero-text {
                    position: absolute !important;
                    width: 45vw;
                    top: 20px;
                    left: 20px;
                    color: #fff;
                    z-index: 2;
                    font-size: 20px;
                    h2 {
                        font-size: 58px;
                        text-transform: uppercase;                    
                    }
                }
            }
        }
        .trust-section {
            padding: 40px 20px;
            background-color: $dark;
            color: $orange;
            text-align: center;
            font-size: 48px;
            .trust-card {
                .refund-icon {
                    font-size: 48px;
                    font-weight: 300;
                    color: $orange;
                }
                h2 {
                    color: #fff;
                    font-size: 25px;
                }
                p {
                    font-size: 18px;
                    color: #fff;
                }
            }
        }
        .partners {
            .partner-card {
                padding: 50px;
                text-align: center;
                .partner-logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span {
                        margin:20px;
                        img {
                            text-align: center;
                            height: 64px;
                        }
                        .gls {
                            width: 139.5px !important;
                        }
                        .mpl {
                            width: 64px !important;
                        }
                        .stripe {
                            width: 153px !important;
                        }
                        i {
                            color: $orange;
                            font-size: 64px;
                        }
                    }
                }
                p {
                    text-align: justify;
                }
            }
        }
        .car-switcher {
            height: auto;
            padding: 40px;
            text-align: center;
            .car-switch {
                width: 90%;
                text-align: left;
                margin: 0 auto;
            }
            h2 {
                width: 350px;
                font-size: 16px;
                text-align: left;
                font-weight: 300;
            }
            select {
                margin: 10px 0;
                border: 1px solid $orange;
                padding: 15px;
                width: 100%;
            }
        }
        .product {
            padding: 50px;
            .product-card {
                margin: 0 auto;
                border-radius: 12px;
                padding: 10px;
                height: auto;
                min-height: 600px;
                background-color: #fff;
                transition: $animation;
                .product-details {
                    height: 100%;
                    min-height: 600px;
                    padding: 20px;
                    h2 {

                        font-weight: 800;
                        font-size: 28px !important;
                        margin-bottom: 20px;
                    }
                    .product-price {
                        margin-top: 20px;
                        width: 200px;
                        float: right;
                        span {
                            text-align: center;
                            margin: 20px 0 0 0;
                            font-size: 38px;
                            display: block;
                            color: $orange;
                            font-weight: 800;
                        }
                        .take-cart {
                            cursor: pointer;
                            margin-top: 20px;
                            float: right;
                            height: 50px;
                            width: 100%;
                            border: none;
                            border-radius: 12px;
                            background-color: $orange;
                            transition: $animation;
                            color: #fff;
                            i {
                                font-size: 32px;
                            }
                        }
                        .take-cart:hover {
                            background-color: #fff;
                            color: $orange;
                            box-shadow: $shadow2;
                        }
                    }
                    .product-desc {
                        font-size: 15px;
                        margin-left: 40px;
                        color: #000;
                        p {
                            img {
                                margin-top: 15px;
                                height: 300px;
                                text-align: left;
                                width: auto;
                            }
                        }
                    }
                }
                .product-pic {
                    img {
                        height: 300px;
                        width: 100%;
                        float: left;
                        object-fit: contain;
                        object-position: center center;
                    }
                }
                .product-pic::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 50%;
                    background: #0083c7;
                    border-radius: 12px 12px 0 0;
                }
            }
        }
    }
    .categ-type-color-mts-technik {
        background: #ffc700;
    }
    .categ-type-color-vogtland {
        background: #70003c;
    }
    .categ-type-color-ap-made-by-kw {
        background: #0083c7;
    }
    .categ-type-color-jom_bochum {
        background: #1b2a59;
    }
    .categ-type-color-v-maxx {
        background: #bd0d12;
    }
    .categ-type-color-fk-automotive {
        background: #153b79;
    }
    .categ-type-color-bilstein {
        background: #00a0f5;
    }
    .categ-type-color-kw {
        background: #5f1471;
    }
    .categ-type-color-eibach {
        background: #ed1c24;
    }
  
    
}
.overlay {
    z-index: 9998;
    width: 100vw;
    height: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.6);
}
div.modal {
    a {
        color: #fff;
    }
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 600px;
    .content {
        background-color: #fff;
        padding: 30px;
        text-align: center;
        width: auto;
        height: auto;
        border-radius: 12px;
        display: block;
        .modal-container {
            .la-check-circle {
                color: $green;
                font-size: 64px;
            }
            h2 {
                margin: 40px 0;
            }
            .close-modal {
                text-decoration: none;
                color: $dark;
                background: none;
                border: none;
                position: absolute;
                right: 0;
                font-size: 36px;
                cursor: pointer;
            }
            .buttons {
                button {
                    cursor: pointer;
                    background-color: $orange;
                    color: #fff !important;
                    height: 40px;
                    width: 80%;
                    font-size: 14px;
                    font-weight: 500;
                    border: none;
                    border-radius: 12px;
                    margin: 0 20px;

                }
            }
        }
    }
}
select {
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: calc(100% - 10px);
    -webkit-appearance: none;
    appearance: none;
}
.inputs-dif-delivery-info {
    height: 276px;
    overflow: hidden;
    transition: all .2s linear;
    margin-top: 20px;
    &.show {
        margin-top: 20px;
        height: 0;
    }
}
textarea, input[type="text"] {
    outline: 0;
}
.no-items-cart {
    margin-top: 140px !important;
    color: $dark;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    background-color: #fff;
    padding: 20px 10px;
    width: 500px;
    height: 113px;
    border-radius: 8px;
    p {
        margin-bottom: 20px;
    }
    a {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 10px;
        border-radius: 8px;
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        background-color: $orange;
    }
}
.error_border {
    border-color: $red !important;
}
.error_msg {
    color: $red !important;
}
.desktop {display:block}
.mobile {display:none}
@media (max-width: 1250px) {
    .header {
        .col-md-6 {
            a {
                .logo {
                    margin-left: 20px;
                }
            }
            .cart-icon {
                margin-right: 20px !important;
            }
        }
    }
    .payment-success, .payment-fail {
        .content-bx {
            .container {
                width: 95vw !important;
            }
        }
    }
    [data-page="cart"] {
        .cart-content {
            margin: 20px 10px !important;
        }
        .submit-cupon, input[name="cupon"] {
            width: 100% !important;
        }
    }
}
@media (max-width: 1150px) {
    .inputs {
        .input-group {
            input {
                width: 300px !important;
            }
        }
    }
}
@media (max-width: 1024px) {
    .cart-content {
        padding: 10px !important;
    }
    .inputs {
        .input-group {
            input {
                width: 250px !important;
            }
        }
    }
}
@media (max-width: 993px) { // Mobil View
    .desktop {display:none}
    .mobile {display:block}
    .col-md-6:not(.text-right, .header-logo),
    .col-md-4,
    .col-md-7,
    .col-md-8
    {
        text-align: center !important;
        width: 100% !important;
        float: unset;
    }
    .trust-card {
        margin-top: 20px;
    }
    .inputs {
        width: auto !important;
        margin: 10px auto !important;
        .input-group {
            
            input {
                margin: 10px auto !important;
                width: 100% !important;
            }
        }
    }
    .header {
        .col-md-6 {
            &.header-logo {
                a {
                    text-align: center !important;
                    .logo {
                        position: absolute;
                        left: 55px;
                        top: 13px;
                        transform: translateX(-50%);
                        margin-left: 0px;
                        scale: 0.6;
                        text-align: left;
                    }
                }
            }
        }
        .cart-icon {
            margin-right: 20px ;
        }
    }
    .inputs, .inner-cart {
        .shipping-method, .payment-method {
            h2 {
                float: unset;
            }
        }
        .options-card, .options-card.active {
            margin: 10px auto !important;
        }
        label:not(.checkbox, .contract-request) {
            left: 0 !important;
        }
        .all-price {
            font-size: 18px !important;
            text-align: left !important;
        }
        .item-card {
            padding: 10px 0 !important;
            .delete {
                width: 100% !important;
            }
        }
        .contract-request {
            label {
                float: left !important;
            }
        }
    }
    .cart-content {
        .item-card {
            .item-data {
                a {
                    text-align: center !important;
                }
            }
        }
        .other-info {
            label {
                left: 10% !important;
            }
        }
    }
    .inputs-dif-delivery-info {
        height: 620px;
        &.show {
            height: 0;
        }
    }
    .product-card {
        .product-details {
            text-align: left !important;
            h2 {
                text-align: center !important;
            }
            .product-desc {
                margin: 0 20px !important;
            }
            .product-price {
                width: 100% !important;
            }
        }
    }
    .modal {
        .content {
            width: 95vw !important;
            padding: 15px !important;
            .modal-container {
                button:not(.close-modal) {
                    margin: 10px 0 !important;
                }
            }
        }
    }
}
@media (max-width: 870px) {
    .product {
        padding: 10px !important;
        .product-details {
         padding: 0 !important;
        }
    }
}
@media (max-width: 667px) {
    .modal {
        .content {
            @include center(-50%, -50%);
            .modal-container {
            }
        }
    }
}
.disabled, [disabled] {
    opacity: 0.5;
    filter: grayscale(10);
}
.text-right {text-align:right;}