<div class="modal">
    <div class="content">
        <div class="modal-container">
            <button class="close-modal" data-func="close-modal"><i class="las la-times"></i></button>
            <i class="las la-check-circle"></i>
            <h2>A termék sikeresen a kosárba lett helyezve!</h2>
            <div class="buttons row">
                <div class="col-md-6">
                    <button data-func="close-modal">Nézelődök még!</button>
                </div>
                <div class="col-md-6">
                    <button><a href="/cart">Tovább a kosárhoz!</a></button>
                </div>
            </div>
        </div>
    </div>
</div>